<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/css/estilos.css">
    <title>Mercado liebre</title>
</head>

<body>
    <header class="main-header">
        <nav class="navUp">
            <div class="logo">
                <img src="./images/logo-mercado-liebre.svg">
            </div>
            <div class="barraBusqueda">
                <p class="barra">Buscar productos marcas</p>
                <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
            </div>
            <h2 class="copy"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </nav>
        <a href="#" class="menuBurguer">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="navdown">
            <ul class="lef-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register.html">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <div class="banner">
            <img src="./images/img-home-banner.jpg">
        </div>

        <h2 class="titulares">Basado en tu última visita</h2><br>

        <section class="ultima-visita">
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class="precio">$6.770</p>
                        <i class="descuentos">40% OFF</i>
                    </div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article><br>
            <article>

                <img src="./images/img-macbook-pro-2019.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class='precio'>$230.000</p>
                        <i class="descuentos">20% off</i>
                    </div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>

            </article>
            <article>

                <img src="./images/img-samsung-galaxy-s10.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class='precio'>$70.500</p>
                        <i class="descuentos">10% off</i>
                    </div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>

            </article>
            <article>

                <img src="./images/img-tv-samsung-smart.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class='precio'>$23.200</p>
                        <i class="descuentos">5% off</i>

                    </div>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>

            </article>
        </section>
        <h2 class="titulares">Ofertas</h2><br>
        <section class="oferta">
            <article>

                <img src="./images/img-cafetera-moulinex.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class="precio">$6.770</p>
                        <i class="descuentos">40% OFF</i>
                    </div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>

            </article>
            <article>

                <img src="./images/img-macbook-pro-2019.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class='precio'>$230.000</p>
                        <i class="descuentos">20% off</i>
                    </div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>

            </article>
            <article>

                <img src="./images/img-samsung-galaxy-s10.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class='precio'>$70.500</p>
                        <i class="descuentos">10% off</i>
                    </div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>

            </article>
            <article>

                <img src="./images/img-tv-samsung-smart.jpg" alt=" imagen de la cafetera" class="imagenProducto">
                <div class="articulos">
                    <i class="fas fa-truck"></i>
                    <div class="precioDto">
                        <p class='precio'>$23.200</p>
                        <i class="descuentos">5% off</i>
                    </div>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>

            </article>
        </section>

    </main>
    <footer>
        <div class="icono"><i class="fa-solid fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p><br>

        <div class="icono"><i class="fa-solid fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p><br>

        <div class="icono"><i class="fa-solid fa-user-shield"></i></div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p><br>
        <h3 bold>Copyright © 1999-2020 MercadoLiebre S.R.L.</3>
    </footer>

</body>

</html>