* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --GrisOscuro: #666;
  --GrisClaro: #ebebeb;
  --Verde: #39b54a;
}

/* header y nav */


.main-header {
    background-color: var(--Amarillo);
    padding: 4px;
}
.logo{
    width: 200px;
}
.copy{
    font-weight: 400;
    text-align: center;
    color: black;
}
.menuBurguer{
    background-color: var(--Azul);
    color: var(--GrisClaro);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
}

.navdown{
    display: none;
    
}

.navdown li{
    color: black;
}

.navdown ul{
list-style: none;
margin: 0;
padding: 0;
}

.navdown a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.banner img{
    width: 100%;
   
}


/* Tarjeta de productos */

main{
    width: 90vw;
    background-color: var(--GrisClaro);
    text-align: center;
    margin: auto;
}
.cards{
    display: flex;
}

article{
     margin-top: 11px;
    
}
h2 {
    display: inline;
    margin: auto;
    color: var(--GrisOscuro);
}
.tarjetas img{
    width: 100%;
    box-sizing: border-box;
}

.tarjetas{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    margin: auto;
    box-sizing: border-box;
   
    
}
.articulos {
    border-top: var(--GrisOscuro) 1px solid ;
    margin: 60px;
    box-sizing: border-box;
}

.titulares {
    width: 24px;
}
.precio {
    width: 18px;
}
.descuentos {
    width: 16px;
}
.descripcion {
    width: 16px;
}


/* Pie de Pagina (footer) */


footer{
    text-align: center;
}
.icono{
    width: 2em;
    margin: auto;
}


@media (max-width: 361px){
    .descripcion{
        display: none;
    }
}
@media (min-width: 361px){
    .tarjetas{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .navdown{
        display: block;
    }
    .menuBurguer{
        display: none;
    }
}

@media (min-width: 769px){

}
