* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --GrisOscuro: #666;
  --GrisClaro: #ebebeb;
  --Verde: #39b54a;
}

/* header y nav */


.main-header {
    background-color: var(--Amarillo);
    padding: 4px;
    box-sizing: border-box;

}
.logo img{
    width: 200px;
}
.logo{
   width: 20%;
}

.copy{
    font-weight: 400;
    text-align: center;
    color: black;
}
.menuBurguer{
    background-color: var(--Azul);
    color: var(--GrisClaro);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
}

.navdown{
    display: none;

}

.navdown li{
    color: black;

}

.navdown ul{
list-style: none;
margin: 0;
padding: 0;


}

.navdown a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.banner{
    margin-bottom: 0px;
}
.banner img{
    width: 100%;


}
/* reguster */

form{
    width: 60%;
    margin: auto;
}
form label{
    font-family: roboto;
    text-align: left;
    
}

.registerUp{
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: left;
}
.tituloForm{
    font-weight: bold;
   
}

.registerUp div{
   margin-top: 15px;
   margin-bottom: 15px;
    
}

.registerUp input{
    height: 25px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.fechaNacimiento{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.contenedorFecha{
    width: 70%;
    margin: 0px;
    padding: 0px;
}
.pefilUsuario{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
}
.registerDown{
    text-align: left;
    margin: 20px;
    padding: 30px;
}
.registerDown input{
    border: none;
}

.check{
    display: flex;
    flex-direction: column;
    margin: 15px;
    text-align: left;
}
.botones div input{
    margin-top: 10px;
    height: 25px;
}

.botones button{
    margin-top: 15px;
    width: 40%;
    height: 30px;
    background-color: var(--Celeste);
    color: var(--GrisClaro);
    border:none;
    border-radius: 5px;
    
    
}




.check div{
    margin: 10px;
}

/* login */


.loginUp input{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    
}
.login form{
    width: 80%;
}

.botonEnviar{
    margin-bottom: 50px;
}
.botonEnviar button{
    width: 80%;
    height: 30px;
    background-color: var(--Celeste);
    color: var(--GrisClaro);
    border:none;
    border-radius: 5px;
}



/* Tarjeta de productos */

main{
    text-align: center;
    margin: auto;
}
article{

     margin-top: 11px;
     background-color: white;


}
section{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
h2 {
    display: inline;
    margin: auto;
    color: var(--GrisOscuro);
}
body{
    background-color: var(--GrisClaro)
}
.articulos {
    border-top: solid 1px #39b54a;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.titulares {
    font-size:  24px;
    display: block;
    text-align: left;
    margin-left: 50px;

}

.fa-truck {
    color: #39b54a;
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    
}

.precio {
   font-size: 18px;
   font-weight: bold;
   flex-grow: 0.3;
}

.precioDto{
    display: flex;
    justify-content: flex-start;
}
.descuentos {
    flex-grow: 0.7;
    font-size: 16px;
    color: #39b54a;
    font-weight: bold;
}
.descripcion {
    font-size:  16px;
}

.imagenProducto{
    width: 90%;
}


/* Pie de Pagina (footer) */


footer{
    text-align: center;
}
.icono{
    font-size: 40px;
    margin: auto;
    color: var(--Azul);
}

@media (min-width: 361px){

    article{
        width: 40%;
        margin: auto;
        margin-bottom: 10px;
    }
    .navdown{
        display: none;
    }
    .menuBurguer{
        display: block;
    }
    .logo{
        width: 30%;
        

    }
    .barraBusqueda{
        display: none;
    }
    .navUp{
        text-align: center;
    }
}

@media (min-width: 769px){
    article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .navdown{
        display: block;
    }
    .menuBurguer{
        display: none;
    }
    article{
        width: 40%;
        margin-bottom: 10px;
    }
    .navUp{
        display: flex;
        justify-content: space-between;
        
    }
    .copy{
        width: 30%;
        max-width: 300px;
        text-align: right;
    }
    .navdown{
        display: flex;
        justify-content: space-between

    }
    .navdown ul{
        display: flex;
    }
    .navdown li{
        margin: 0 5px
    }
    .fa-truck{
        transition: all 1s;
    }
    article:hover i{
        transform: rotate(-90deg);

    }
    .barraBusqueda{
        height: 40px;
        width: 50%;
        display: flex;
        margin: auto;
        justify-content: center;
        /* flex-wrap: wrap; */
    }
    .barraBusqueda input{
        width: 80%;
        border: none;
        background-color: var(--GrisClaro);
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        
    }
    #lupa{
        font-size: 20px;
        padding-top: 8px;
        background-color: var(--GrisClaro);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (min-width: 1024px){

    article{
        width: 20%;

    }
    .navUp,.navdown {
        max-width: 1200px;
        margin: auto;
    }
    .navdown li{
        margin: 0 10px
    }
    .navdown a{
        font-size: 19px;
    }
    .copy{
        max-width: none;
        margin-right: 10px;
        font-size: 18px;
    }
    /* .barraBusqueda{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .barraBusqueda input{
        width: 80%;
    } */





}