* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --GrisOscuro: #666;
  --GrisClaro: #ebebeb;
  --Verde: #39b54a;
}

/* header y nav */


.main-header {
    background-color: var(--Amarillo);
    padding: 4px;
    box-sizing: border-box;

}
.logo img{
    width: 200px;
}

.copy{
    font-weight: 400;
    text-align: center;
    color: black;
}
.menuBurguer{
    background-color: var(--Azul);
    color: var(--GrisClaro);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
}

.navdown{
    display: none;

}

.navdown li{
    color: black;

}

.navdown ul{
list-style: none;
margin: 0;
padding: 0;


}

.navdown a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.banner{
    margin-bottom: 0px;
}
.banner img{
    width: 100%;


}


/* Tarjeta de productos */

main{
    text-align: center;
    margin: auto;
}
article{

     margin-top: 11px;
     background-color: white;


}
section{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
h2 {
    display: inline;
    margin: auto;
    color: var(--GrisOscuro);
}
body{
    background-color: var(--GrisClaro)
}
.articulos {
    border-top: var(--GrisOscuro) 1px solid ;
    /* margin: 60px; */
    /* box-sizing: border-box; */
    padding: 15px;
    text-align: left;
    position: relative;
}

.titulares {
    font-size:  24px;
    display: block;
    text-align: left;
    margin-left: 50px;

}

.fa-truck {
    color: #39b54a;
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio {
   font-size: 18px;
   font-weight: bold;
   flex-grow: 0.3;
}

.precioDto{
    display: flex;
    justify-content: flex-start;
}
.descuentos {
    flex-grow: 0.7;
    font-size: 16px;
    color: #39b54a;
    font-weight: bold;
}
.descripcion {
    font-size:  16px;
}

.imagenProducto{
    width: 90%;
}


/* Pie de Pagina (footer) */


footer{
    text-align: center;
}
.icono{
    width: 2em;
    margin: auto;
}

@media (min-width: 361px){

    article{
        width: 40%;
        margin: auto;
        margin-bottom: 10px;
    }
    .navdown{
        display: none;
    }
    .menuBurguer{
        display: block;
    }
    .logo{
        width: 50%;
        

    }
    .barraBusqueda{
        display: none;
    }
    .navUp{
        text-align: center;
    }
}

@media (min-width: 769px){
    article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .navdown{
        display: block;
    }
    .menuBurguer{
        display: none;
    }
    article{
        width: 40%;
        margin-bottom: 10px;
    }
    .navUp{
        display: flex;
        justify-content: space-between;
    }
    .copy{
        max-width: 300px;
        text-align: right;
    }
    .navdown{
        display: flex;
        justify-content: space-between

    }
    .navdown ul{
        display: flex;
    }
    .navdown li{
        margin: 0 5px
    }
}

@media (min-width: 1024px){

    article{
        width: 20%;

    }
    .navUp,.navdown {
        max-width: 1200px;
        margin: auto;
    }
    .navdown li{
        margin: 0 10px
    }
    .navdown a{
        font-size: 19px;
    }
    .copy{
        max-width: none;
        margin-right: 10px;
        font-size: 18px;
    }





}